:root {
  --shadow-color: 206deg 8% 70%;
  --shadow-elevation-low:
    0px 0.3px 0.4px hsl(var(--shadow-color) / 0.25),
    0px 0.9px 1.1px -1.9px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium:
    0px 0.3px 0.4px hsl(var(--shadow-color) / 0.36),
    -0.1px 4.4px 5.3px -1.9px hsl(var(--shadow-color) / 0.47);
  --shadow-elevation-high:
    0px 0.3px 0.4px hsl(var(--shadow-color) / 0.33),
    -0.1px 2.7px 3.3px -0.6px hsl(var(--shadow-color) / 0.38),
    -0.1px 7.1px 8.6px -1.3px hsl(var(--shadow-color) / 0.44),
    -0.3px 17.4px 21.1px -1.9px hsl(var(--shadow-color) / 0.49);
}

html {
  font-size: 0.875em;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;  
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  color: #454545;
  // background-color: hsla(206, 24%, 94%, 0.2);
  background-image: linear-gradient(
    130deg,
    white 0%,
    white 18%,
    white 26%,
    white 33%,
    white 39%,
    #fcfdfd 44%,
    #fcfdfd 50%,
    #fcfdfd 56%,
    #fcfdfd 61%,
    #fcfdfd 67%,
    #fcfdfd 74%,
    #fcfdfd 82%,
    #fcfdfd 100%
  );
}

code {
  font-family: source-code-pro,
  Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  width: 540px
}

input {
  all: unset;
  font-size: inherit;
}