.chip {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 4px;
  user-select: none;
  &:active {
    background-color: var(--gray-highlight-color);
  }
  &.activated {
    background-color: #0095ff08;
    border: 1px solid #0095ff5c;
    .chip-text {
      padding-right: 2px;
      color: #0095ff;
    }
    .delete-chip-button {
      display: flex;
    }
  }
  .chip-text {
    color: #666;
    font-size: 12px;
    padding: 4px 8px 6px 8px;
    cursor: pointer;
  }
  .delete-chip-button {
    display: none;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    padding: 0 8px 0 2px;
    cursor: pointer;
    .delete-chip-icon {
      width: 12px;
      height: 12px;
      stroke: #0095ff;
    }
  }
}